{% load sniplates %}
{% block nav_link %}
<li><a href="{{ link }}"><i class="fa icon-sidebar {{ icon_class }}"></i>{{ name }}</a></li>
{% endblock %}

{% block data-table %}
{% load_widgets form="widgets/form.html" %}
<div id="delete_modal" class="modal fade" id="DangerModalColor" tabindex="-1" role="dialog" aria-labelledby="DangerModalColorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-no-shadow modal-no-border bg-danger">
      <div class="modal-body">
        Esta seguro que desea borrar este objeto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No borrar</button>
        <button type="button" class="btn btn-danger" id="confirm_delete_button">Si</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .danger .full -->
  </div><!-- /.modal-dialog -->
</div><!-- /#DangerModalColor -->


<!-- DATA TABLE MENU -->
<div class="the-box no-border">
  <button class="btn btn-primary" data-toggle="modal" data-target="#create_modal">Agregar</button>
</div>
<div id="create_modal" class="modal fade" id="DangerModalColor" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-no-shadow modal-no-border">
      <div class="modal-header">
          <h4>Crear nuevo</h4>
      </div>
      <div class="modal-body">
        {% for field in form %}
          {% form_field field %}
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No borrar</button>
        <button type="button" class="btn btn-primary" id="confirm_delete_button">Si</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .danger .full -->
  </div><!-- /.modal-dialog -->
</div><!-- /#DangerModalColor -->
<!-- END DATA TABLE MENU -->
{% if data %}
<!-- Begin table striped -->
<div class="the-box full no-border">
  <div class="table-responsive">
    <table class="table table-th-block table-striped">
      <thead>
        <tr>
          {% for field, value in data.0.get_fields.items %}
            <th>{{ field }}</th>
          {% endfor %}
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        {% for instance in data %}
        <tr>
          {% for field, value in instance.get_fields.items %}
            <td>{{ value }}</td>
          {% endfor %}
          <td style="color:red;">
            <i class="delete_icon fa fa-trash-o">
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="accion" value="delete_{{ instance.get_class }}" />
                <input type="hidden" name="{{ instance.get_class }}_pk" value="{{ instance.pk }}" />
              </form>
            </i>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
</div><!-- /.the-box -->
<!-- End table striped -->
{% else %}
No hay resultados
{% endif %}
{% endblock %}
